@import '../base/mixin';

.error-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .error-icon {
        width: 15rem;
    }

    .error-title {
        font-size: 3rem;
    }

    .error-text {
        font-size: 4rem;
    }

    .error-home-link {
        font-size: 2.5rem;
        width: 10rem;
        text-align: center;
        border-radius: 1rem;
        background-color: var(--color-lblue);
        color: var(--color-white);
        font-weight: 600;
        text-decoration: none;
    }
}